--
-- PostgreSQL database dump
--

\restrict Sp046hLL0S7gnAaSchyRg4WV2Ugb4EauQc8LN3AnFDQ8PKQizR5BZYK7c1S0deh

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: achievements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.achievements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    icon character varying(50),
    type character varying(20) NOT NULL,
    criteria jsonb,
    points integer DEFAULT 0,
    color character varying(7),
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT achievements_type_check CHECK (((type)::text = ANY (ARRAY[('streak'::character varying)::text, ('certificate'::character varying)::text, ('badge'::character varying)::text, ('level'::character varying)::text])))
);


--
-- Name: assignment_submissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.assignment_submissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    assignment_id uuid NOT NULL,
    user_id uuid NOT NULL,
    submission_text text,
    file_urls text[],
    submission_status character varying(50) DEFAULT 'draft'::character varying,
    submitted_at timestamp with time zone,
    graded_at timestamp with time zone,
    score integer,
    feedback text,
    graded_by uuid,
    attempt_number integer DEFAULT 1,
    is_late boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: assignments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.assignments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    lesson_id uuid,
    title character varying(500) NOT NULL,
    description text NOT NULL,
    instructions text,
    assignment_type character varying(50) NOT NULL,
    max_points integer DEFAULT 100,
    due_date timestamp with time zone,
    submission_format character varying(100),
    allowed_file_types text[],
    max_file_size_mb integer DEFAULT 10,
    rubric jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    color character varying(7),
    course_count integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: certificates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.certificates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    course_id uuid,
    learning_path_id uuid,
    certificate_type character varying(50) NOT NULL,
    certificate_number character varying(100) NOT NULL,
    issued_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    issuer_name character varying(500) DEFAULT 'Shalom Learning Platform'::character varying,
    credential_url text,
    metadata jsonb,
    is_public boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: course_analytics; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_analytics (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    date date NOT NULL,
    total_enrollments integer DEFAULT 0,
    new_enrollments integer DEFAULT 0,
    completions integer DEFAULT 0,
    average_progress numeric(5,2) DEFAULT 0.00,
    total_watch_time_minutes integer DEFAULT 0,
    quiz_attempts integer DEFAULT 0,
    assignment_submissions integer DEFAULT 0,
    dropout_rate numeric(5,2) DEFAULT 0.00,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: course_enrollments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_enrollments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    course_id uuid NOT NULL,
    enrollment_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    completion_date timestamp with time zone,
    progress_percentage numeric(5,2) DEFAULT 0.00,
    is_completed boolean DEFAULT false,
    current_video_id uuid,
    total_watch_time_minutes integer DEFAULT 0,
    updated_at timestamp with time zone DEFAULT (now() AT TIME ZONE 'utc'::text)
);


--
-- Name: course_lessons; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_lessons (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    section_id uuid,
    title character varying(500) NOT NULL,
    description text,
    content_type character varying(50) NOT NULL,
    content_url text,
    content_data jsonb,
    duration_minutes integer DEFAULT 0,
    order_index integer NOT NULL,
    is_required boolean DEFAULT true,
    is_preview boolean DEFAULT false,
    points_value integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: course_quizzes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_quizzes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    section_id uuid,
    title character varying(500) NOT NULL,
    description text,
    order_index integer NOT NULL,
    passing_score integer DEFAULT 70,
    time_limit_minutes integer,
    max_attempts integer DEFAULT 3,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: course_ratings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_ratings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    course_id uuid NOT NULL,
    rating integer NOT NULL,
    review text,
    is_anonymous boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT course_ratings_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


--
-- Name: course_sections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_sections (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    title character varying(500) NOT NULL,
    description text,
    order_index integer NOT NULL,
    lessons_count integer DEFAULT 0,
    duration_minutes integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    section_order integer
);


--
-- Name: course_wishlist; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_wishlist (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    course_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: courses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.courses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(500) NOT NULL,
    description text NOT NULL,
    instructor_name character varying(255) DEFAULT 'Shalom Instructor'::character varying,
    category_id uuid NOT NULL,
    level character varying(20) NOT NULL,
    duration_hours integer NOT NULL,
    thumbnail_url text,
    video_preview_url text,
    rating numeric(3,2) DEFAULT 0.0,
    total_ratings integer DEFAULT 0,
    student_count integer DEFAULT 0,
    is_published boolean DEFAULT false,
    is_featured boolean DEFAULT false,
    language character varying(10) DEFAULT 'EN'::character varying,
    subtitles character varying(50)[],
    tags text[],
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    rating_breakdown jsonb,
    CONSTRAINT courses_level_check CHECK (((level)::text = ANY (ARRAY[('Beginner'::character varying)::text, ('Intermediate'::character varying)::text, ('Advanced'::character varying)::text])))
);


--
-- Name: course_detailed_stats; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.course_detailed_stats AS
 SELECT c.id,
    c.title,
    c.student_count,
    c.rating,
    count(DISTINCT ce.id) AS current_enrollments,
    count(DISTINCT
        CASE
            WHEN (ce.is_completed = true) THEN ce.id
            ELSE NULL::uuid
        END) AS completions,
    count(DISTINCT cw.id) AS wishlist_count,
    count(DISTINCT cr.id) AS review_count,
    count(DISTINCT cs.id) AS sections_count,
    count(DISTINCT cl.id) AS lessons_count,
    count(DISTINCT cq.id) AS quizzes_count,
    count(DISTINCT a.id) AS assignments_count,
    COALESCE(avg(ce.progress_percentage), (0)::numeric) AS avg_progress_percentage
   FROM (((((((public.courses c
     LEFT JOIN public.course_enrollments ce ON ((c.id = ce.course_id)))
     LEFT JOIN public.course_wishlist cw ON ((c.id = cw.course_id)))
     LEFT JOIN public.course_ratings cr ON ((c.id = cr.course_id)))
     LEFT JOIN public.course_sections cs ON ((c.id = cs.course_id)))
     LEFT JOIN public.course_lessons cl ON ((c.id = cl.course_id)))
     LEFT JOIN public.course_quizzes cq ON ((c.id = cq.course_id)))
     LEFT JOIN public.assignments a ON ((c.id = a.course_id)))
  WHERE (c.is_published = true)
  GROUP BY c.id, c.title, c.student_count, c.rating;


--
-- Name: course_discussions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_discussions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    lesson_id uuid,
    user_id uuid NOT NULL,
    title character varying(500) NOT NULL,
    content text NOT NULL,
    discussion_type character varying(50) DEFAULT 'question'::character varying,
    is_pinned boolean DEFAULT false,
    is_answered boolean DEFAULT false,
    upvotes integer DEFAULT 0,
    views integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: course_outcomes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_outcomes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    outcome text NOT NULL,
    order_index integer NOT NULL
);


--
-- Name: course_overview; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.course_overview AS
 SELECT c.id,
    c.title,
    c.description,
    c.level,
    c.duration_hours,
    c.rating,
    c.student_count,
    c.is_featured,
    cat.name AS category_name,
    c.instructor_name
   FROM (public.courses c
     JOIN public.categories cat ON ((c.category_id = cat.id)))
  WHERE (c.is_published = true);


--
-- Name: course_requirements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_requirements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    requirement text NOT NULL,
    order_index integer NOT NULL
);


--
-- Name: course_resources; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_resources (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    lesson_id uuid,
    title character varying(500) NOT NULL,
    description text,
    resource_type character varying(50) NOT NULL,
    resource_url text NOT NULL,
    file_size_bytes bigint,
    download_count integer DEFAULT 0,
    is_downloadable boolean DEFAULT true,
    order_index integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: course_videos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_videos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    section_id uuid,
    title character varying(500) NOT NULL,
    description text,
    video_url text NOT NULL,
    duration_seconds integer NOT NULL,
    order_index integer NOT NULL,
    is_preview boolean DEFAULT false,
    thumbnail_url text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: discussion_replies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.discussion_replies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    discussion_id uuid NOT NULL,
    user_id uuid NOT NULL,
    content text NOT NULL,
    is_solution boolean DEFAULT false,
    upvotes integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: learning_path_courses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.learning_path_courses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    learning_path_id uuid NOT NULL,
    course_id uuid NOT NULL,
    order_index integer NOT NULL,
    is_required boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: learning_paths; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.learning_paths (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(500) NOT NULL,
    description text NOT NULL,
    difficulty_level character varying(20) NOT NULL,
    estimated_duration_hours integer NOT NULL,
    thumbnail_url text,
    is_published boolean DEFAULT false,
    is_featured boolean DEFAULT false,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT learning_paths_difficulty_level_check CHECK (((difficulty_level)::text = ANY (ARRAY[('Beginner'::character varying)::text, ('Intermediate'::character varying)::text, ('Advanced'::character varying)::text])))
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    title character varying(500) NOT NULL,
    message text NOT NULL,
    type character varying(50) NOT NULL,
    related_entity_type character varying(50),
    related_entity_id uuid,
    is_read boolean DEFAULT false,
    action_url text,
    priority character varying(20) DEFAULT 'normal'::character varying,
    expires_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    read_at timestamp with time zone
);


--
-- Name: quiz_attempts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quiz_attempts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    quiz_id uuid NOT NULL,
    score integer NOT NULL,
    total_questions integer NOT NULL,
    correct_answers integer NOT NULL,
    time_taken_minutes integer,
    is_passed boolean DEFAULT false,
    answers jsonb,
    attempt_number integer DEFAULT 1,
    started_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp with time zone
);


--
-- Name: quiz_questions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quiz_questions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    quiz_id uuid NOT NULL,
    question text NOT NULL,
    question_type character varying(20) NOT NULL,
    options jsonb,
    correct_answer text NOT NULL,
    explanation text,
    points integer DEFAULT 1,
    order_index integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT quiz_questions_question_type_check CHECK (((question_type)::text = ANY (ARRAY[('multiple-choice'::character varying)::text, ('true-false'::character varying)::text, ('text'::character varying)::text])))
);


--
-- Name: user_achievements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_achievements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    achievement_id uuid NOT NULL,
    earned_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    value integer
);


--
-- Name: user_analytics; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_analytics (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    date date NOT NULL,
    total_time_minutes integer DEFAULT 0,
    courses_accessed integer DEFAULT 0,
    lessons_completed integer DEFAULT 0,
    quizzes_attempted integer DEFAULT 0,
    assignments_submitted integer DEFAULT 0,
    login_count integer DEFAULT 0,
    streak_days integer DEFAULT 0,
    points_earned integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    avatar_url text,
    password_hash character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'student'::character varying,
    points integer DEFAULT 0,
    joined_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp with time zone,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY (ARRAY[('student'::character varying)::text, ('instructor'::character varying)::text, ('admin'::character varying)::text])))
);


--
-- Name: user_dashboard_summary; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.user_dashboard_summary AS
 SELECT u.id AS user_id,
    u.name,
    u.email,
    u.points,
    count(DISTINCT ce.id) AS enrolled_courses,
    count(DISTINCT
        CASE
            WHEN (ce.is_completed = true) THEN ce.id
            ELSE NULL::uuid
        END) AS completed_courses,
    count(DISTINCT cw.id) AS wishlist_count,
    count(DISTINCT ua.id) AS achievements_count,
    count(DISTINCT
        CASE
            WHEN (n.is_read = false) THEN n.id
            ELSE NULL::uuid
        END) AS unread_notifications,
    COALESCE(avg(ce.progress_percentage), (0)::numeric) AS avg_progress
   FROM ((((public.users u
     LEFT JOIN public.course_enrollments ce ON ((u.id = ce.user_id)))
     LEFT JOIN public.course_wishlist cw ON ((u.id = cw.user_id)))
     LEFT JOIN public.user_achievements ua ON ((u.id = ua.user_id)))
     LEFT JOIN public.notifications n ON ((u.id = n.user_id)))
  WHERE ((u.role)::text = 'student'::text)
  GROUP BY u.id, u.name, u.email, u.points;


--
-- Name: user_learning_path_progress; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_learning_path_progress (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    learning_path_id uuid NOT NULL,
    current_course_id uuid,
    progress_percentage numeric(5,2) DEFAULT 0.00,
    is_completed boolean DEFAULT false,
    started_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: user_lesson_progress; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_lesson_progress (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    lesson_id uuid NOT NULL,
    progress_percentage numeric(5,2) DEFAULT 0.00,
    is_completed boolean DEFAULT false,
    time_spent_minutes integer DEFAULT 0,
    last_position jsonb,
    completed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: user_module_progress; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_module_progress (
    user_id uuid NOT NULL,
    course_id uuid NOT NULL,
    section_id uuid NOT NULL,
    is_completed boolean DEFAULT false,
    completed_at timestamp without time zone
);


--
-- Name: user_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_preferences (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    email_notifications boolean DEFAULT true,
    push_notifications boolean DEFAULT true,
    assignment_reminders boolean DEFAULT true,
    course_updates boolean DEFAULT true,
    marketing_emails boolean DEFAULT false,
    weekly_progress_summary boolean DEFAULT true,
    language_preference character varying(10) DEFAULT 'en'::character varying,
    timezone character varying(50) DEFAULT 'UTC'::character varying,
    theme_preference character varying(20) DEFAULT 'light'::character varying,
    auto_play_videos boolean DEFAULT true,
    video_quality character varying(20) DEFAULT 'auto'::character varying,
    subtitle_language character varying(10) DEFAULT 'en'::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: user_progress_summary; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.user_progress_summary AS
 SELECT u.id AS user_id,
    u.name,
    u.email,
    count(ce.id) AS enrolled_courses,
    count(
        CASE
            WHEN (ce.is_completed = true) THEN 1
            ELSE NULL::integer
        END) AS completed_courses,
    COALESCE(avg(ce.progress_percentage), (0)::numeric) AS avg_progress,
    sum(ce.total_watch_time_minutes) AS total_watch_time_minutes,
    count(ua.id) AS total_achievements
   FROM ((public.users u
     LEFT JOIN public.course_enrollments ce ON ((u.id = ce.user_id)))
     LEFT JOIN public.user_achievements ua ON ((u.id = ua.user_id)))
  WHERE ((u.role)::text = 'student'::text)
  GROUP BY u.id, u.name, u.email;


--
-- Name: video_progress; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.video_progress (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    video_id uuid NOT NULL,
    watch_time_seconds integer DEFAULT 0,
    is_completed boolean DEFAULT false,
    last_position_seconds integer DEFAULT 0,
    completed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Data for Name: achievements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: assignment_submissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.assignment_submissions (id, assignment_id, user_id, submission_text, file_urls, submission_status, submitted_at, graded_at, score, feedback, graded_by, attempt_number, is_late, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: certificates; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.certificates (id, user_id, course_id, learning_path_id, certificate_type, certificate_number, issued_at, issuer_name, credential_url, metadata, is_public, created_at) FROM stdin;
\.


--
-- Data for Name: course_analytics; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: course_discussions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.course_discussions (id, course_id, lesson_id, user_id, title, content, discussion_type, is_pinned, is_answered, upvotes, views, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: course_enrollments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: course_lessons; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: course_outcomes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: course_quizzes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: course_ratings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: course_requirements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: course_resources; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: course_sections; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: course_videos; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: course_wishlist; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.course_wishlist (id, user_id, course_id, created_at) FROM stdin;
d8a93430-f709-4bea-bcfc-0ec55702f75d	550e8400-e29b-41d4-a716-446655440101	550e8400-e29b-41d4-a716-446655440401	2025-10-16 05:09:17.462486+00
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: discussion_replies; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.discussion_replies (id, discussion_id, user_id, content, is_solution, upvotes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: learning_path_courses; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.learning_path_courses (id, learning_path_id, course_id, order_index, is_required, created_at) FROM stdin;
\.


--
-- Data for Name: learning_paths; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.learning_paths (id, title, description, difficulty_level, estimated_duration_hours, thumbnail_url, is_published, is_featured, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.notifications (id, user_id, title, message, type, related_entity_type, related_entity_id, is_read, action_url, priority, expires_at, created_at, read_at) FROM stdin;
\.


--
-- Data for Name: quiz_attempts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: quiz_questions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_achievements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_analytics; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_analytics (id, user_id, date, total_time_minutes, courses_accessed, lessons_completed, quizzes_attempted, assignments_submitted, login_count, streak_days, points_earned, created_at) FROM stdin;
\.


--
-- Data for Name: user_learning_path_progress; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_learning_path_progress (id, user_id, learning_path_id, current_course_id, progress_percentage, is_completed, started_at, completed_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_lesson_progress; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_lesson_progress (id, user_id, lesson_id, progress_percentage, is_completed, time_spent_minutes, last_position, completed_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_module_progress; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_module_progress (user_id, course_id, section_id, is_completed, completed_at) FROM stdin;
\.


--
-- Data for Name: user_preferences; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_preferences (id, user_id, email_notifications, push_notifications, assignment_reminders, course_updates, marketing_emails, weekly_progress_summary, language_preference, timezone, theme_preference, auto_play_videos, video_quality, subtitle_language, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: video_progress; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: achievements achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_pkey PRIMARY KEY (id);


--
-- Name: assignment_submissions assignment_submissions_assignment_id_user_id_attempt_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assignment_submissions
    ADD CONSTRAINT assignment_submissions_assignment_id_user_id_attempt_number_key UNIQUE (assignment_id, user_id, attempt_number);


--
-- Name: assignment_submissions assignment_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assignment_submissions
    ADD CONSTRAINT assignment_submissions_pkey PRIMARY KEY (id);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: certificates certificates_certificate_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_certificate_number_key UNIQUE (certificate_number);


--
-- Name: certificates certificates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_pkey PRIMARY KEY (id);


--
-- Name: course_analytics course_analytics_course_id_date_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_analytics
    ADD CONSTRAINT course_analytics_course_id_date_key UNIQUE (course_id, date);


--
-- Name: course_analytics course_analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_analytics
    ADD CONSTRAINT course_analytics_pkey PRIMARY KEY (id);


--
-- Name: course_discussions course_discussions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_discussions
    ADD CONSTRAINT course_discussions_pkey PRIMARY KEY (id);


--
-- Name: course_enrollments course_enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT course_enrollments_pkey PRIMARY KEY (id);


--
-- Name: course_enrollments course_enrollments_user_id_course_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT course_enrollments_user_id_course_id_key UNIQUE (user_id, course_id);


--
-- Name: course_lessons course_lessons_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_lessons
    ADD CONSTRAINT course_lessons_pkey PRIMARY KEY (id);


--
-- Name: course_outcomes course_outcomes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_outcomes
    ADD CONSTRAINT course_outcomes_pkey PRIMARY KEY (id);


--
-- Name: course_quizzes course_quizzes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_quizzes
    ADD CONSTRAINT course_quizzes_pkey PRIMARY KEY (id);


--
-- Name: course_ratings course_ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_ratings
    ADD CONSTRAINT course_ratings_pkey PRIMARY KEY (id);


--
-- Name: course_ratings course_ratings_user_id_course_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_ratings
    ADD CONSTRAINT course_ratings_user_id_course_id_key UNIQUE (user_id, course_id);


--
-- Name: course_requirements course_requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_requirements
    ADD CONSTRAINT course_requirements_pkey PRIMARY KEY (id);


--
-- Name: course_resources course_resources_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_resources
    ADD CONSTRAINT course_resources_pkey PRIMARY KEY (id);


--
-- Name: course_sections course_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_sections
    ADD CONSTRAINT course_sections_pkey PRIMARY KEY (id);


--
-- Name: course_videos course_videos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_videos
    ADD CONSTRAINT course_videos_pkey PRIMARY KEY (id);


--
-- Name: course_wishlist course_wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_wishlist
    ADD CONSTRAINT course_wishlist_pkey PRIMARY KEY (id);


--
-- Name: course_wishlist course_wishlist_user_id_course_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_wishlist
    ADD CONSTRAINT course_wishlist_user_id_course_id_key UNIQUE (user_id, course_id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: discussion_replies discussion_replies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.discussion_replies
    ADD CONSTRAINT discussion_replies_pkey PRIMARY KEY (id);


--
-- Name: learning_path_courses learning_path_courses_learning_path_id_course_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.learning_path_courses
    ADD CONSTRAINT learning_path_courses_learning_path_id_course_id_key UNIQUE (learning_path_id, course_id);


--
-- Name: learning_path_courses learning_path_courses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.learning_path_courses
    ADD CONSTRAINT learning_path_courses_pkey PRIMARY KEY (id);


--
-- Name: learning_paths learning_paths_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.learning_paths
    ADD CONSTRAINT learning_paths_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: quiz_attempts quiz_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quiz_attempts
    ADD CONSTRAINT quiz_attempts_pkey PRIMARY KEY (id);


--
-- Name: quiz_questions quiz_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quiz_questions
    ADD CONSTRAINT quiz_questions_pkey PRIMARY KEY (id);


--
-- Name: user_achievements user_achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_pkey PRIMARY KEY (id);


--
-- Name: user_achievements user_achievements_user_id_achievement_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_user_id_achievement_id_key UNIQUE (user_id, achievement_id);


--
-- Name: user_analytics user_analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_analytics
    ADD CONSTRAINT user_analytics_pkey PRIMARY KEY (id);


--
-- Name: user_analytics user_analytics_user_id_date_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_analytics
    ADD CONSTRAINT user_analytics_user_id_date_key UNIQUE (user_id, date);


--
-- Name: user_learning_path_progress user_learning_path_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_learning_path_progress
    ADD CONSTRAINT user_learning_path_progress_pkey PRIMARY KEY (id);


--
-- Name: user_learning_path_progress user_learning_path_progress_user_id_learning_path_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_learning_path_progress
    ADD CONSTRAINT user_learning_path_progress_user_id_learning_path_id_key UNIQUE (user_id, learning_path_id);


--
-- Name: user_lesson_progress user_lesson_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_lesson_progress
    ADD CONSTRAINT user_lesson_progress_pkey PRIMARY KEY (id);


--
-- Name: user_lesson_progress user_lesson_progress_user_id_lesson_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_lesson_progress
    ADD CONSTRAINT user_lesson_progress_user_id_lesson_id_key UNIQUE (user_id, lesson_id);


--
-- Name: user_module_progress user_module_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_module_progress
    ADD CONSTRAINT user_module_progress_pkey PRIMARY KEY (user_id, course_id, section_id);


--
-- Name: user_preferences user_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_pkey PRIMARY KEY (id);


--
-- Name: user_preferences user_preferences_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_user_id_key UNIQUE (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: video_progress video_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.video_progress
    ADD CONSTRAINT video_progress_pkey PRIMARY KEY (id);


--
-- Name: video_progress video_progress_user_id_video_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.video_progress
    ADD CONSTRAINT video_progress_user_id_video_id_key UNIQUE (user_id, video_id);


--
-- Name: idx_assignments_course; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_assignments_course ON public.assignments USING btree (course_id);


--
-- Name: idx_assignments_due_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_assignments_due_date ON public.assignments USING btree (due_date);


--
-- Name: idx_certificates_course; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_certificates_course ON public.certificates USING btree (course_id);


--
-- Name: idx_certificates_number; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_certificates_number ON public.certificates USING btree (certificate_number);


--
-- Name: idx_certificates_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_certificates_user ON public.certificates USING btree (user_id);


--
-- Name: idx_course_analytics_course_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_course_analytics_course_date ON public.course_analytics USING btree (course_id, date);


--
-- Name: idx_course_ratings_course; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_course_ratings_course ON public.course_ratings USING btree (course_id);


--
-- Name: idx_courses_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_courses_category ON public.courses USING btree (category_id);


--
-- Name: idx_courses_featured; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_courses_featured ON public.courses USING btree (is_featured);


--
-- Name: idx_courses_published; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_courses_published ON public.courses USING btree (is_published);


--
-- Name: idx_discussions_course; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_discussions_course ON public.course_discussions USING btree (course_id);


--
-- Name: idx_discussions_lesson; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_discussions_lesson ON public.course_discussions USING btree (lesson_id);


--
-- Name: idx_discussions_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_discussions_user ON public.course_discussions USING btree (user_id);


--
-- Name: idx_enrollments_course; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_enrollments_course ON public.course_enrollments USING btree (course_id);


--
-- Name: idx_enrollments_progress; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_enrollments_progress ON public.course_enrollments USING btree (progress_percentage);


--
-- Name: idx_enrollments_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_enrollments_user ON public.course_enrollments USING btree (user_id);


--
-- Name: idx_lesson_progress_lesson; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lesson_progress_lesson ON public.user_lesson_progress USING btree (lesson_id);


--
-- Name: idx_lesson_progress_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lesson_progress_user ON public.user_lesson_progress USING btree (user_id);


--
-- Name: idx_lessons_course; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lessons_course ON public.course_lessons USING btree (course_id);


--
-- Name: idx_lessons_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lessons_order ON public.course_lessons USING btree (course_id, order_index);


--
-- Name: idx_lessons_section; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lessons_section ON public.course_lessons USING btree (section_id);


--
-- Name: idx_notifications_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_created ON public.notifications USING btree (created_at);


--
-- Name: idx_notifications_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_type ON public.notifications USING btree (type);


--
-- Name: idx_notifications_unread; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_unread ON public.notifications USING btree (user_id, is_read);


--
-- Name: idx_notifications_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_user ON public.notifications USING btree (user_id);


--
-- Name: idx_quiz_attempts_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_quiz_attempts_user ON public.quiz_attempts USING btree (user_id);


--
-- Name: idx_submissions_assignment; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_submissions_assignment ON public.assignment_submissions USING btree (assignment_id);


--
-- Name: idx_submissions_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_submissions_status ON public.assignment_submissions USING btree (submission_status);


--
-- Name: idx_submissions_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_submissions_user ON public.assignment_submissions USING btree (user_id);


--
-- Name: idx_user_achievements_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_achievements_user ON public.user_achievements USING btree (user_id);


--
-- Name: idx_user_analytics_user_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_analytics_user_date ON public.user_analytics USING btree (user_id, date);


--
-- Name: idx_video_progress_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_video_progress_user ON public.video_progress USING btree (user_id);


--
-- Name: idx_wishlist_course; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_wishlist_course ON public.course_wishlist USING btree (course_id);


--
-- Name: idx_wishlist_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_wishlist_user ON public.course_wishlist USING btree (user_id);


--
-- Name: assignments update_assignments_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_assignments_updated_at BEFORE UPDATE ON public.assignments FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: course_ratings update_course_ratings_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_course_ratings_updated_at BEFORE UPDATE ON public.course_ratings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: courses update_courses_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_courses_updated_at BEFORE UPDATE ON public.courses FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: discussion_replies update_discussion_replies_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_discussion_replies_updated_at BEFORE UPDATE ON public.discussion_replies FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: course_discussions update_discussions_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_discussions_updated_at BEFORE UPDATE ON public.course_discussions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: course_enrollments update_enrollments_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_enrollments_updated_at BEFORE UPDATE ON public.course_enrollments FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: user_learning_path_progress update_learning_path_progress_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_learning_path_progress_updated_at BEFORE UPDATE ON public.user_learning_path_progress FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: learning_paths update_learning_paths_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_learning_paths_updated_at BEFORE UPDATE ON public.learning_paths FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: user_lesson_progress update_lesson_progress_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_lesson_progress_updated_at BEFORE UPDATE ON public.user_lesson_progress FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: course_lessons update_lessons_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_lessons_updated_at BEFORE UPDATE ON public.course_lessons FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: assignment_submissions update_submissions_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_submissions_updated_at BEFORE UPDATE ON public.assignment_submissions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: user_preferences update_user_preferences_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_user_preferences_updated_at BEFORE UPDATE ON public.user_preferences FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: video_progress update_video_progress_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_video_progress_updated_at BEFORE UPDATE ON public.video_progress FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: assignment_submissions assignment_submissions_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assignment_submissions
    ADD CONSTRAINT assignment_submissions_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.assignments(id) ON DELETE CASCADE;


--
-- Name: assignment_submissions assignment_submissions_graded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assignment_submissions
    ADD CONSTRAINT assignment_submissions_graded_by_fkey FOREIGN KEY (graded_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: assignment_submissions assignment_submissions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assignment_submissions
    ADD CONSTRAINT assignment_submissions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: assignments assignments_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: assignments assignments_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.course_lessons(id) ON DELETE SET NULL;


--
-- Name: certificates certificates_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE SET NULL;


--
-- Name: certificates certificates_learning_path_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_learning_path_id_fkey FOREIGN KEY (learning_path_id) REFERENCES public.learning_paths(id) ON DELETE SET NULL;


--
-- Name: certificates certificates_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: course_analytics course_analytics_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_analytics
    ADD CONSTRAINT course_analytics_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_discussions course_discussions_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_discussions
    ADD CONSTRAINT course_discussions_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_discussions course_discussions_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_discussions
    ADD CONSTRAINT course_discussions_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.course_lessons(id) ON DELETE SET NULL;


--
-- Name: course_discussions course_discussions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_discussions
    ADD CONSTRAINT course_discussions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: course_enrollments course_enrollments_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT course_enrollments_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_enrollments course_enrollments_current_video_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT course_enrollments_current_video_id_fkey FOREIGN KEY (current_video_id) REFERENCES public.course_videos(id);


--
-- Name: course_enrollments course_enrollments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT course_enrollments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: course_lessons course_lessons_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_lessons
    ADD CONSTRAINT course_lessons_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_lessons course_lessons_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_lessons
    ADD CONSTRAINT course_lessons_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.course_sections(id) ON DELETE SET NULL;


--
-- Name: course_outcomes course_outcomes_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_outcomes
    ADD CONSTRAINT course_outcomes_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_quizzes course_quizzes_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_quizzes
    ADD CONSTRAINT course_quizzes_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_quizzes course_quizzes_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_quizzes
    ADD CONSTRAINT course_quizzes_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.course_sections(id) ON DELETE SET NULL;


--
-- Name: course_ratings course_ratings_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_ratings
    ADD CONSTRAINT course_ratings_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_ratings course_ratings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_ratings
    ADD CONSTRAINT course_ratings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: course_requirements course_requirements_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_requirements
    ADD CONSTRAINT course_requirements_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_resources course_resources_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_resources
    ADD CONSTRAINT course_resources_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_resources course_resources_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_resources
    ADD CONSTRAINT course_resources_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.course_lessons(id) ON DELETE SET NULL;


--
-- Name: course_sections course_sections_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_sections
    ADD CONSTRAINT course_sections_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_videos course_videos_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_videos
    ADD CONSTRAINT course_videos_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_videos course_videos_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_videos
    ADD CONSTRAINT course_videos_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.course_sections(id) ON DELETE SET NULL;


--
-- Name: course_wishlist course_wishlist_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_wishlist
    ADD CONSTRAINT course_wishlist_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_wishlist course_wishlist_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_wishlist
    ADD CONSTRAINT course_wishlist_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: courses courses_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: discussion_replies discussion_replies_discussion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.discussion_replies
    ADD CONSTRAINT discussion_replies_discussion_id_fkey FOREIGN KEY (discussion_id) REFERENCES public.course_discussions(id) ON DELETE CASCADE;


--
-- Name: discussion_replies discussion_replies_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.discussion_replies
    ADD CONSTRAINT discussion_replies_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: learning_path_courses learning_path_courses_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.learning_path_courses
    ADD CONSTRAINT learning_path_courses_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: learning_path_courses learning_path_courses_learning_path_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.learning_path_courses
    ADD CONSTRAINT learning_path_courses_learning_path_id_fkey FOREIGN KEY (learning_path_id) REFERENCES public.learning_paths(id) ON DELETE CASCADE;


--
-- Name: learning_paths learning_paths_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.learning_paths
    ADD CONSTRAINT learning_paths_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: quiz_attempts quiz_attempts_quiz_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quiz_attempts
    ADD CONSTRAINT quiz_attempts_quiz_id_fkey FOREIGN KEY (quiz_id) REFERENCES public.course_quizzes(id) ON DELETE CASCADE;


--
-- Name: quiz_attempts quiz_attempts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quiz_attempts
    ADD CONSTRAINT quiz_attempts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: quiz_questions quiz_questions_quiz_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quiz_questions
    ADD CONSTRAINT quiz_questions_quiz_id_fkey FOREIGN KEY (quiz_id) REFERENCES public.course_quizzes(id) ON DELETE CASCADE;


--
-- Name: user_achievements user_achievements_achievement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_achievement_id_fkey FOREIGN KEY (achievement_id) REFERENCES public.achievements(id) ON DELETE CASCADE;


--
-- Name: user_achievements user_achievements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_analytics user_analytics_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_analytics
    ADD CONSTRAINT user_analytics_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_learning_path_progress user_learning_path_progress_current_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_learning_path_progress
    ADD CONSTRAINT user_learning_path_progress_current_course_id_fkey FOREIGN KEY (current_course_id) REFERENCES public.courses(id) ON DELETE SET NULL;


--
-- Name: user_learning_path_progress user_learning_path_progress_learning_path_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_learning_path_progress
    ADD CONSTRAINT user_learning_path_progress_learning_path_id_fkey FOREIGN KEY (learning_path_id) REFERENCES public.learning_paths(id) ON DELETE CASCADE;


--
-- Name: user_learning_path_progress user_learning_path_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_learning_path_progress
    ADD CONSTRAINT user_learning_path_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_lesson_progress user_lesson_progress_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_lesson_progress
    ADD CONSTRAINT user_lesson_progress_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.course_lessons(id) ON DELETE CASCADE;


--
-- Name: user_lesson_progress user_lesson_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_lesson_progress
    ADD CONSTRAINT user_lesson_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_module_progress user_module_progress_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_module_progress
    ADD CONSTRAINT user_module_progress_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: user_module_progress user_module_progress_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_module_progress
    ADD CONSTRAINT user_module_progress_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.course_sections(id);


--
-- Name: user_module_progress user_module_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_module_progress
    ADD CONSTRAINT user_module_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_preferences user_preferences_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: video_progress video_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.video_progress
    ADD CONSTRAINT video_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: video_progress video_progress_video_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.video_progress
    ADD CONSTRAINT video_progress_video_id_fkey FOREIGN KEY (video_id) REFERENCES public.course_videos(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Sp046hLL0S7gnAaSchyRg4WV2Ugb4EauQc8LN3AnFDQ8PKQizR5BZYK7c1S0deh

